@using System.Collections
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<h1 action="display-4">@ViewBag.Welcome </h1>
	
</div>



	<h2>@ViewData["AnotherWelcome"]</h2>
	
	



	@await Html.PartialAsync("_Conditions")
	